@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}
.bg-zoom {
	animation: zoom 8s ease-in-out forwards;
}
